{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agregar Servicio</title>
    <link rel="stylesheet" href="{% static 'css/dash.css' %}">
</head>
<body>

<div class="main-content">
    <header>
        <h2>Agregar Servicio</h2>
    </header>

    <main>
        <div class="card">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Agregar Servicio</button>
                </form>
            </div>
        </div>
    </main>
</div>

</body>
</html>
