{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title> 
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>
<body>
<div class="wrapper">
    {% block content %}
        <h2>Registro</h2>
        <form method="post">
            {% csrf_token %}
            <div class="input-box">
                {{ form.Nombre_Usuario.label_tag }}
                {{ form.Nombre_Usuario }}
            </div>
            <div class="input-box">
                {{ form.password1.label_tag }}
                {{ form.password1 }}
            </div>
            <div class="input-box">
                {{ form.password2.label_tag }}
                {{ form.password2 }}
            </div>
            <div class="input-box">
                {{ form.nombre.label_tag }}
                {{ form.nombre }}
            </div>
            <div class="input-box">
                {{ form.apellidos.label_tag }}
                {{ form.apellidos }}
            </div>
            <div class="input-box">
                {{ form.direccion.label_tag }}
                {{ form.direccion }}
            </div>
            <div class="input-box">
                {{ form.telefono.label_tag }}
                {{ form.telefono }}
            </div>
            <div class="input-box">
                {{ form.correo_electronico.label_tag }}
                {{ form.correo_electronico }}
            </div>
            <div class="policy">
                {{ form.agree.label_tag }}
                {{ form.agree }}
                <h3>{{ form.agree.help_text }}</h3>
            </div>
            <div class="input-box button">
                <button type="submit">Registrarse</button>
            </div>
        </form>
        <div class="text">
            <h3>¿Ya tienes una cuenta? <a href="#">Inicia sesión ahora</a></h3>
        </div>
    {% endblock %}
</div>
</body>
</html>


