{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listar Usuarios</title>
    <link rel="stylesheet" href="{% static 'css/dash.css' %}">
</head>
<body>


<input type="checkbox" id="nav-toggle">
<div class="sidebar">
    <div class="sidebar-brand">
        <h2><i class="fa-solid fa-gears" style="color: #ffffff;"></i><span>promec</span></h2>
    </div>
    <!--Secciones-del-tablero-->
    <div class="sidebar-menu">
        <ul>
            <li>
                <a href="{% url 'clientes' %}" class="bi bi-person-vcard" >
                    <span>clientes  </span></a>
            </li>
            
            <li>
                <a href="{% url 'usuarios' %}"><i class="fa-solid fa-calendar-day" style="color: #ffffff;"></i>
                    <span>Usuarios</span></a>
            </li>
            <li>
                <a href="{% url 'citas' %}"><i class="fa-solid fa-calendar-day" style="color: #ffffff;"></i>
                    <span>Citas</span></a>
            </li>
            <li>
                <a href="{% url 'facturas' %}"><i class="fa-solid fa-calendar-day" style="color: #ffffff;"></i>
                    <span>Facturas</span></a>
            </li>
            <li>
                <a href="{% url 'servicios' %}"><i class="fa-solid fa-calendar-day" style="color: #ffffff;"></i>
                    <span>Servicios</span></a>
            </li>
            <li>
                <a href="{% url 'ventas' %}"><i class="fa-solid fa-calendar-day" style="color: #ffffff;"></i>
                    <span>Ventas</span></a>
            </li>
            <li>
                <a href="{% url 'historial' %}"><i class="fa-solid fa-calendar-day" style="color: #ffffff;"></i>
                    <span>historial</span></a>
            </li>
        </ul>
    </div>
</div>

<div class="main-content">
    <header>
        <h2>
            <label for="nav-toggle">
                <span class="fa-solid fa-bars" style="color: #ff0000;"></span>
            </label> Menu
        </h2>

        <div class="user-wrapper">
            <img class="fa-regular fa-address-card" style="color: #e00000;" width="40px" height="40px" alt="">
            <div>
                <h4>{{ request.user.username }}</h4>
                <small>Usuario</small>
            </div>
        </div>
    </header>

    <main>
        <!--Tabla recordar-->
        <div class="recent-grid">
            <div class="projects">
                <div class="card">
                    <div class="card-header">
                        <h3>Ventas</h3>
                        
                        <div class="search-wrapper">
                            <span class="las la-search"></span>
                            <input type="search" placeholder="Buscar aquí" />
                        </div>
                        <a href="{% url 'agregar_usuario' %}" class="btn btn-secundary">Agregar Usuario</a>
                    </div>
                        
                    <div class="card-body">
                        <div class="table-responsive">
                            <table width="100%">
                                <thead>
                                    <tr>
                                        <td>ID</td>
                                        <td>Fecha de Venta</td>
                                        <td>Monto Total</td>
                                        <td>Descripción</td>
                                        <td>Servicio</td>
                                        <td>Tipo de Pago</td>
                                        <td>Cita</td>
                                        <td>Acciones</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for venta in ventas %}
                                        <tr>
                                            <td>{{ venta.IDVenta }}</td>
                                            <td>{{ venta.Fecha_Venta }}</td>
                                            <td>{{ venta.Monto_Total }}</td>
                                            <td>{{ venta.descripcion }}</td>
                                            <td>{{ venta.IDServicio }}</td>
                                            <td>{{ venta.IDTipo_pago }}</td>
                                            <td>{{ venta.IDCita }}</td>
                                            <td>
                                                <a href="{% url 'editar_venta' venta.IDVenta %}"><button>Editar</button>
                                                <form action="{% url 'eliminar_venta' venta.IDVenta %}" method="post" style="display: inline;">
                                                    {% csrf_token %}
                                                    <button type="submit" class="btn btn-danger">Eliminar</button>
                                                </form>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
            
            
            <div class="card1">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </main>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js"
        integrity="sha512-zuF0jB0YIC5MuTvlMxkRyA/1bJkF+q7uWzwWM77LCr6QMQ8zDiGKDn3UzgzBZwMTRkfrv2pgTo4K+O0b1/BecA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Rf5JpOwBX0+MrIi2Kd2uhRXLBz4lsCZO3Tz3jFhQk9c/tUEjzIe+/UHHdZtKTC9r" crossorigin="anonymous"></script>
<script src="/dashboard/js/dash.js"></script>
</body>
</html>
